
/* ---------------------------------------------------------------
           Google Font
------------------------------------------------------------------*/

body{
    font-family: 'EB Garamond', serif;
    
}

/* ---------------------------------------------------------------
              Button
------------------------------------------------------------------*/
.button{
    background-color: #B68C5A !important;
    border: 0;
}
.button:hover{
    background-color: #B68C5A;
    border: 0; 
}

/* ---------------------------------------------------------------
             Card
------------------------------------------------------------------*/

.card{
    border-radius: 0 !important;
}

/* ---------------------------------------------------------------
            Testimonial
------------------------------------------------------------------*/
.slide-img{
    height: 500px !important;
}
.slide-person-img{
    border-radius: 50% !important;
}

/* ---------------------------------------------------------------
               Font Awesone
------------------------------------------------------------------*/
.icon{
    color: white;
    margin-left: -5px !important;
}
.icon:hover{
  color: white;
}
